* {
  box-sizing: border-box;
}

body {
  margin: 40px;
}
.container {
  background-color: lightgray;
  max-width: 600px;
}

.firstname input[type="text"] {
  display: inline-block;
  vertical-align: middle;
  margin-left: -0.35em;
}

.submit_option {
  text-align: center;
}
