* {
  transition: all 0.1s ease-in;
}

.header-box {
  font-family: "Roboto";
  font-style: normal;
  color: #ff8984;
  text-align: center;
  width: 793px;
  height: 82px;
  background: #4a4f56;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding-top: 19px;
  display: block;
  margin: 0 auto;
}

h2 {
  display: block;
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.container {
  width: 793px;
  height: 507px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  background: #3b3f45;
  color: #ffffff;
}

.checkbox-blok:nth-last-of-type(2n + 1) {
  background: #7a7593;
}
.checkbox-blok {
  background: #88839e;
}
.checkbox-blok {
  padding: 15px 20px;
  margin-bottom: 8px;
}

ul {
  display: block;
  list-style: none;
  min-height: 380px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

section {
  display: block;
  margin: 0 auto;
}
label {
  cursor: default;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.custom-checkbox input:checked + label {
  text-decoration-line: line-through;
}

span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

ul li:hover {
  transform: scale(1.2);
}

.bonapetot_btn {
  padding: 21px 197px;
  text-align: center;
  border: none;
  margin-left: auto;
  margin-right: auto;
  color: #ff8984;
  background: #4a4f56;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  display: flex;
  align-items: center;

  margin-top: 45px;
  margin-bottom: 45px;
}

.bonapetot_btn:active {
  box-shadow: 2px 2px 5px grey;
}
