* {
  transition: all 0.1s ease-in;
}
header-box: hover {
  color: yellow;
}
.header-box {
  color: #ff8984;

  text-align: center;
  max-width: 793px;
  min-height: 82px;
  left: 0px;
  top: 0px;
  background: #4a4f56;

  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 793px;
  min-height: 0px auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 57px;
  background: #3b3f45;
}

.checkbox-blok:nth-last-of-type(2n + 1) {
  background: #7a7593;
  border-radius: 25px 25px 25px 25px;
}
.checkbox-blok {
  background: #88839e;
  border-radius: 25px 25px 25px 25px;
}
.checkbox-blok {
  padding: 15px 20px;
  margin-bottom: 8px;
}

ul {
  display: block;
  list-style: none;
  min-height: 380px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

section {
  display: block;
  margin: 0 auto;
}
label {
  cursor: default;
}
.custom-checkbox input:checked + label span {
  text-decoration-line: line-through;
}

sml-text {
  position: relative;
  font-style: 12px;
  display: inline-block;
  bottom: 2.5px;
}

.bonapetot {
  text-align: center;
  background: #4a4f56;
  color: #ff8984;
  min-height: 45px;
  max-width: 500px;
  display: block;

  margin-left: auto;
  margin-right: auto;
  border-radius: 25px 25px 25px 25px;
  padding-top: 12px;
  margin-top: 45px;
  margin-top: 45px;
}
